.home-section {
    width: 100vw;
    height: 100%;
    margin-bottom: 10em;
}
.home-main {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*logo principal*/
#logo-complete {
    width: 20em;
    height: 12em;
    margin-top: 93px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
}

.home-initial-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 270px;
}

/*título principal em azul*/
.home-initial-text h1 {
    height: 118px;
    top: 261px;
    font-size: 2em;
    line-height: 39px;
    color: #004AAD;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*título secundário em laranja*/
.home-initial-text h2 {
    height: 118px;
    top: 365px;
    font-size: 1.75em;
    line-height: 34px;
    text-align: center;
    color: #EF681A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*div de todas as duplas img e texto*/
.main-content-home {
    width: 70vw;
    flex-direction: column;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
}

/* divs de cada ícone e texto*/
.icons-text-home {
    width: 70vw;
    height: 50px;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-bottom: 5em;
}

/*texto ao lado dos ícones*/
.text-home {
    /* position: relative; */
    height: 100%;
    width: 50vw;
    left: 85px;
    display: flex;
    font-size: 1.25em;
    line-height: 24px;
    color: #000000; 
    align-items: center;  
    text-align: justify;
    margin-left: 3vw;
}

/*ícones ao lado dos textos*/
.icons-home {
    /* position:absolute; */
    width: 40px;
    height: 40px;
}

/* div botão*/
#button-home {
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    display: grid;
    justify-items: center;
    margin-top: 3em;
}

/* texto do botão*/
#sign-in-home-button {
    /* position: absolute; */
    width: 150px;
    height: 60px;
    background: #EF681A;
    border-radius: 10px;
}

#button-home a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 15px;
    color: #004AAD;
    border: 1px solid #F0EBE8(30, 30, 30, 0.2);
    cursor: pointer;
}
@media screen and (min-width: 1000px) {
    .home-main {
        display: flex;
        flex-direction: row;
    }
    #logo-complete {
        margin-top: 10rem;
    }
    .home-initial-text {
        width: 40vw;
        display: flex;
        justify-content: left;

    }
    .home-initial-text h1 {
        font-size: 25px;
        width: 40vw;
        padding: 0;
    }
    .home-initial-text h2 {
        font-size: 25px;
        width: 40vw;
    }
    .main-content-home {
        margin-top: 10rem;
        border-left: 1px solid #004AAD;
        width: 40vw;
        font-size: 15px;
    }
    #button-home {
        justify-items: center;
    }
    .icons-text-home {
        margin-bottom: 5vh;
        margin-top: 2rem;
        margin-left: 5vw;
        width: 40vw;
    }
    .text-home {
        width: 35vw;
    }
}

